.coach {
    width: 100vw;
    height: max-content;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0% 0%,100% 4%,100% 92%,0% 100%);
    overflow: hidden;
    position: relative;
 
    .rect{
        display: flex;
        align-items: center;
        justify-content: end;
        position: absolute;
        background-color: rgb(14, 90, 157);
        width: 40px;
        bottom: -5rem;
        right: 0px;
        left: 0px;
        height:400px;
        transform: rotate(-45deg);
         
    }

 
    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 21px;
        font-weight: 400;
        color: white;
        padding-top:90px ;
        margin-bottom: 60px;
        letter-spacing: 6px;
    }


    .line {
        width: 80px;
        margin-top: 6px;
        border: 2.5px solid rgb(4, 90, 250);
    }

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;

        .items {
            z-index: 999;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            width: 82%;
            gap:50px;
            .item:nth-child(1),
            .item:nth-child(4) {
               
                display: flex;
                background-color: rgb(56, 56, 56);
                width: 800px;
                height: 300px;


                .left {
                    flex: 1.5;

                    .imgItem {
                        background: red;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }

                .right {
                    flex: 2;
                    padding: 30px;

                    h2 {
                        font-size: 25px;
                        letter-spacing: 3px;
                        font-weight: 400;
                        margin: 4px 0px;
                        color: rgb(255, 255, 255);

                    }

                    span {
                        color: red;
                        font-size: 11px;
                        font-weight: 200;
                        margin: 3px 0px;
                    }

                    p {
                        width: 300px;
                        color: rgb(141, 141, 141);
                        font-size: 14px;
                        font-weight: 200;
                        margin: 0px 0px 10px 0px;
                        line-height: 23px;
                    }

                    .socialMedia {
                        display: flex;

                        .itemlogo {
                            margin: 0px 5px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 1px solid rgb(255, 255, 255);
                            color: white;
                            font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                    }
                }
            }

            .item:nth-child(2),
            .item:nth-child(3) {
                display: flex;
                background-color: rgb(40, 39, 39);
                width: 800px;
                height: 300px;


                .left {
                    flex: 1.5;
                    .imgItem {
                        background: red;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                    }
                }

                .right {
                    flex: 2;
                    padding: 30px;
                     
                    h2 {
                        font-size: 25px;
                        letter-spacing: 3px;
                        font-weight: 400;
                        margin: 4px 0px;
                        color: rgb(255, 255, 255);

                    }

                    span {
                        color: red;
                        font-size: 11px;
                        font-weight: 200;
                        margin: 3px 0px;
                    }

                    p {
                        width: 300px;
                        color: rgb(141, 141, 141);
                        font-size: 14px;
                        font-weight: 200;
                        margin: 0px 0px 10px 0px;
                        line-height: 23px;
                    }

                    .socialMedia {
                        display: flex;

                        .itemlogo {
                            margin: 0px 5px;
                            width: 30px;
                            height: 30px;
                            border-radius: 50%;
                            border: 1px solid rgb(255, 255, 255);
                            color: white;
                            font-size: 17px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                        }

                    }
                }
            }
        }
    }


 
}